# PostgreSQL
POSTGRES_SCHEMA=postgresql
POSTGRES_DRIVER=psycopg
POSTGRES_DB=blog_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=blog_admin
POSTGRES_PASSWORD="postgres_password"

# Redis
REDIS_DB=1
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_USERNAME=default
REDIS_PASSWORD="redis_password"